<!DOCTYPE html>
<html lang="en">
<%= favicon_link_tag 'favicon.ico' %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(`uments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74663458-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69772085-1', 'auto');
  ga('send', 'pageview');

</script>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Protest Legally</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    <!-- <link href="css/bootstrap2.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <!--<i class="fa fa-power-off"></i>-->
                    <div class="center">
                 <!--   <img class="banner-logo-small" src="/images/averill3design_logo_small5r.png" alt="logosmall"/>   -->  <span class="light">Protest</span> Legally 
                  </div> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
               <!--
                <ul class="nav navbar-nav">
                    
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="products/products">Products</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Submit</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        
        <!-- /.container -->


                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="#page-top"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="products/products"><i class="fa fa-fw fa-shopping-bag"></i> Products</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about"><i class="fa fa-fw fa-book"></i> About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download"><i class="fa fa-fw fa-rocket"></i> Submit</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact"><i class="fa fa-fw fa-edit"></i> Contact</a>
                    </li>
                </ul>
            
            <!-- /.navbar-collapse -->
        </nav>
    <!-- Navigation -->
   

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">
                          <!-- <img class="banner-logo" src="/images/averill3design_logo5.png" alt="Averill 3design"/> -->
                          Stand Up for </h1> <h1 class="brand-headingred">Your Rights </h1>
                        <p class="intro-text">Never stay silent. Never settle for what isn't right. Never sacrifice your freedoms when trying to save them. Be sure to protest legally to avoid detracting from the very cause you support.</p>
                       <!-- <a href="products/products" class="btn btn-norectangle"> Products</a>
                         <a href="about/about" class="btn btn-circlewhite page-scroll">
                            <i class="fa fa-instagram animated"></i>
                        </a> -->
                        <p>
                        <a href="#about" class="btn btn-nocircle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Find your state down below</h2>
                <p>Click on your state down below, listed in alphabetical order, and follow the information for the city you want to protest in. One each state's page are all the cities we have information for with clear instructions how to proceed. Following these instructions will help ensure you are staying within the bounds of the law. We do recommend talking to your city officials and using this website as a starting point.</p>
                <a href="#download" class="btn btn-nocirclewhite page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    

    <!-- Contact Section -->
   
        <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                

                <div class="col-lg-2 col-sm-6">
                    <a href="../alabama/Alabama" class="portfolio-box">
                        <img src="/images/StateFlags/alabamaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Alabama
                                </div>
                                <div class="project-category text-faded">
                                    Birmingham
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../alaska/Alaska" class="portfolio-box">
                        <img src="/images/StateFlags/alaskaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Alaska
                                </div>
                                <div class="project-category text-faded">
                                    Anchorage
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../arizona/Arizona" class="portfolio-box">
                        <img src="/images/StateFlags/arizonaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Arizona
                                </div>
                                <div class="project-category text-faded">
                                    Phoenix
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../arkansas/Arkansas" class="portfolio-box">
                        <img src="/images/StateFlags/arkansasflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Arkansas
                                </div>
                                <div class="project-category text-faded">
                                    Little Rock
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../california/California" class="portfolio-box">
                        <img src="/images/StateFlags/californiaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    California
                                </div>
                                <div class="project-category text-faded">
                                    Los Angeles
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
              <div class="col-lg-2 col-sm-6">
                    <a href="../colorado/Colorado" class="portfolio-box">
                        <img src="/images/StateFlags/coloradoflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Colorado
                                </div>
                                <div class="project-category text-faded">
                                    Denver
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../connecticut/Connecticut" class="portfolio-box">
                        <img src="/images/StateFlags/connecticutflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Connecticut
                                </div>
                                <div class="project-category text-faded">
                                    Bridgeport
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../delaware/Delaware" class="portfolio-box">
                        <img src="/images/StateFlags/delawareflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Delaware
                                </div>
                                <div class="project-category text-faded">
                                    Wilmington
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../florida/Florida" class="portfolio-box">
                        <img src="/images/StateFlags/floridaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Florida
                                </div>
                                <div class="project-category text-faded">
                                    Jacksonville
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../georgia/Georgia" class="portfolio-box">
                        <img src="/images/StateFlags/georgiaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Georgia
                                </div>
                                <div class="project-category text-faded">
                                    Atlanta
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../hawaii/Hawaii" class="portfolio-box">
                        <img src="/images/StateFlags/hawaiiflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Hawaii
                                </div>
                                <div class="project-category text-faded">
                                    Honolulu
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../idaho/Idaho" class="portfolio-box">
                        <img src="/images/StateFlags/idahoflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Idaho
                                </div>
                                <div class="project-category text-faded">
                                    Boise
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../illinois/Illinois" class="portfolio-box">
                        <img src="/images/StateFlags/illinoisflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Illinois
                                </div>
                                <div class="project-category text-faded">
                                    Chicago
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../indiana/Indiana" class="portfolio-box">
                        <img src="/images/StateFlags/indianaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Indiana
                                </div>
                                <div class="project-category text-faded">
                                    Indianapolis
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../iowa/Iowa" class="portfolio-box">
                        <img src="/images/StateFlags/iowaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Iowa
                                </div>
                                <div class="project-category text-faded">
                                    Des Moines
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../kansas/Kansas" class="portfolio-box">
                        <img src="/images/StateFlags/kansasflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Kansas
                                </div>
                                <div class="project-category text-faded">
                                    Wichita
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../kentucky/Kentucky" class="portfolio-box">
                        <img src="/images/StateFlags/kentuckyflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Kentucky
                                </div>
                                <div class="project-category text-faded">
                                    Louisville
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../louisiana/Louisiana" class="portfolio-box">
                        <img src="/images/StateFlags/louisianaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Louisiana
                                </div>
                                <div class="project-category text-faded">
                                    New Orleans
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../maine/Maine" class="portfolio-box">
                        <img src="/images/StateFlags/maineflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Maine
                                </div>
                                <div class="project-category text-faded">
                                    Portland
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../maryland/Maryland" class="portfolio-box">
                        <img src="/images/StateFlags/marylandflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Maryland
                                </div>
                                <div class="project-category text-faded">
                                    Baltimore
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../massachusetts/Massachusetts" class="portfolio-box">
                        <img src="/images/StateFlags/massachusettsflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Massachusetts
                                </div>
                                <div class="project-category text-faded">
                                    Boston
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../michigan/Michigan" class="portfolio-box">
                        <img src="/images/StateFlags/michiganflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Michigan
                                </div>
                                <div class="project-category text-faded">
                                    Detroit
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../minnesota/Minnesota" class="portfolio-box">
                        <img src="/images/StateFlags/minnesotaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Minnesota
                                </div>
                                <div class="project-category text-faded">
                                    Minneanapolis
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../mississippi/Mississippi" class="portfolio-box">
                        <img src="/images/StateFlags/mississippiflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Mississippi
                                </div>
                                <div class="project-category text-faded">
                                    Jackson
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../missouri/Missouri" class="portfolio-box">
                        <img src="/images/StateFlags/missouriflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Missouri
                                </div>
                                <div class="project-category text-faded">
                                    Kansas City
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../montana/Montana" class="portfolio-box">
                        <img src="/images/StateFlags/montanaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Montana
                                </div>
                                <div class="project-category text-faded">
                                    Billings
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../nebraska/Nebraska" class="portfolio-box">
                        <img src="/images/StateFlags/nebraskaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Nebraska
                                </div>
                                <div class="project-category text-faded">
                                    Omaha
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../nevada/Nevada" class="portfolio-box">
                        <img src="/images/StateFlags/nevadaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Nevada
                                </div>
                                <div class="project-category text-faded">
                                    Las Vegas
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../new_hampshire/New_Hampshire" class="portfolio-box">
                        <img src="/images/StateFlags/newhampshireflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    New Hampshire
                                </div>
                                <div class="project-category text-faded">
                                    Manchester
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../new_jersey/New_Jersey" class="portfolio-box">
                        <img src="/images/StateFlags/newjerseyflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    New Jersey
                                </div>
                                <div class="project-category text-faded">
                                    Newark
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../new_mexico/New_Mexico" class="portfolio-box">
                        <img src="/images/StateFlags/newmexicoflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    New Mexico
                                </div>
                                <div class="project-category text-faded">
                                    Albuquerque
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../new_york/New_York" class="portfolio-box">
                        <img src="/images/StateFlags/newyorkflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    New York
                                </div>
                                <div class="project-category text-faded">
                                    New York City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../north_carolina/North_Carolina" class="portfolio-box">
                        <img src="/images/StateFlags/northcarolinaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    North Carolina
                                </div>
                                <div class="project-category text-faded">
                                    Charlotte
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../north_dakota/North_Dakota" class="portfolio-box">
                        <img src="/images/StateFlags/northdakotaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    North Dakota
                                </div>
                                <div class="project-category text-faded">
                                    Fargo
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../ohio/Ohio" class="portfolio-box">
                        <img src="/images/StateFlags/ohioflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Ohio
                                </div>
                                <div class="project-category text-faded">
                                    Columbus
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../oklahoma/Oklahoma" class="portfolio-box">
                        <img src="/images/StateFlags/oklahomaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Oklahoma
                                </div>
                                <div class="project-category text-faded">
                                    Oklahoma City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../oregon/Oregon" class="portfolio-box">
                        <img src="/images/StateFlags/oregonflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Oregon
                                </div>
                                <div class="project-category text-faded">
                                    Portland
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../pennsylvania/Pennsylvania" class="portfolio-box">
                        <img src="/images/StateFlags/pennsylvaniaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Pennsylvania
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../rhode_island/Rhode_Island" class="portfolio-box">
                        <img src="/images/StateFlags/rhodeislandflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Rhode Island
                                </div>
                                <div class="project-category text-faded">
                                    Providence
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../south_carolina/South_Carolina" class="portfolio-box">
                        <img src="/images/StateFlags/southcarolinaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    South Carolina
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../south_dakota/South_Dakota" class="portfolio-box">
                        <img src="/images/StateFlags/southdakotaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    South Dakota
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../tennessee/Tennessee" class="portfolio-box">
                        <img src="/images/StateFlags/tennesseeflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Tennesse
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../texas/Texas" class="portfolio-box">
                        <img src="/images/StateFlags/texasflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                   Texas
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../utah/Utah" class="portfolio-box">
                        <img src="/images/StateFlags/utahflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Utah
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../vermont/Vermont" class="portfolio-box">
                        <img src="/images/StateFlags/vermontflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Vermont
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../virginia/Virginia" class="portfolio-box">
                        <img src="/images/StateFlags/virginiaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Virginia
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../washington/Washington" class="portfolio-box">
                        <img src="/images/StateFlags/washingtonflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Washington
                                </div>
                                <div class="project-category text-faded">
                                   City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                  <div class="col-lg-2 col-sm-6">
                    <a href="../washingtondc/WashingtonDC" class="portfolio-box">
                        <img src="/images/StateFlags/washingtondcflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Washington DC
                                </div>
                                <div class="project-category text-faded">
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../west_virginia/West_Virginia" class="portfolio-box">
                        <img src="/images/StateFlags/westvirginiaflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    West Virginia
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../wisconsin/Wisconsin" class="portfolio-box">
                        <img src="/images/StateFlags/wisconsinflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Wisconsin
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../wyoming/Wyoming" class="portfolio-box">
                        <img src="/images/StateFlags/wyomingflag.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Wyoming
                                </div>
                                <div class="project-category text-faded">
                                    City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Protest Legally</h2>

                <p>Please email us with any questions about the site or to notify us of any issues with it. We do not file any paper work or provide personal consultation at this time.</p>
                <!-- <p> Follow us on Instagram and Twitter to be notified of deals and promotions.</p> -->
                <p>
                  <a href="mailto:protestlegally@gmail.com" class="btn btn-default btn-lg"> <i class="fa fa-envelope fa-fw"></i><span class="network-name"> protestlegally@gmail.com</span></a>
                </p>
                <!-- <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/averill3design" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                         <a href="https://instagram.com/averill3design/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a> 
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/105953915368160689120/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul> -->
            </div>
        </div>
        
    </section>
<section id="top" class="container content-section text-center">
  <a href="#page-top" class="btn btn-nocirclewhite page-scroll">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                      </section>
    <!-- Map Section -->
    <!-- <div id="map"></div> -->
<!-- Ad HERE _________________________________________________________________ -->
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- heroku2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5139861459788620"
     data-ad-slot="3297434195"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> 


    <!-- Footer -->
    <footer>
        <div class="container text-center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Ad 1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2218474529441870"
     data-ad-slot="1527332542"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
           <!-- <p>Copyright &copy; Averill 3Design 2015</p> -->
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
