<!DOCTYPE html>
<html lang="en">
<%= favicon_link_tag 'favicon.ico' %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74663458-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69772085-1', 'auto');
  ga('send', 'pageview');

</script>
<head>
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Averill 3Design</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
<link href="css/creative.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <!--<i class="fa fa-power-off"></i>-->
                    <div class="center">
                    <img class="banner-logo-small" src="/images/averill3design_logo_small5r.png" alt="logosmall"/>   <span class="light">Averill</span> 3Design 
                  </div>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
               <!--
                <ul class="nav navbar-nav">
                    
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#products">Products</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#download">Submit</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
            <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/#page-top"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#products"><i class="fa fa-fw fa-shopping-bag"></i> Products</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#about"><i class="fa fa-fw fa-book"></i> About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#download"><i class="fa fa-fw fa-rocket"></i> Submit</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#contact"><i class="fa fa-fw fa-edit"></i> Contact</a>
                    </li>
                </ul>
            
            <!-- /.navbar-collapse -->
        </nav>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro2">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-headingred">
                           <img class="banner-logo-med" src="/images/Products2.png" alt="Averill 3design"/>
                          <!--Averill 3Design--> </h1>
                        <p class="intro-text">These are our premade designs our team has made for you to order. No files or input needed.</p>
                        <a href="#products" class="btn btn-nocircle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="products" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Products</h2>
                <p>Here we are showcasing a collection of items our designers made for you. We know not everyone wants to work to design their own piece while they may still want a custom looking 3D printed product, so these are for you. </p>
            </section>
<!-- Input product here side by side with rows of 3  -->
     <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product3/product3" class="portfolio-box">
                        <img src="/images/bagholder.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Multi-Bag Handle
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
              <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product3/product3" class="portfolio-box">
                        <img src="/images/bagholder.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Multi-Bag Handle
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product3/product3" class="portfolio-box">
                        <img src="/images/bagholder.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Multi-Bag Handle
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product3/product3" class="portfolio-box">
                        <img src="/images/bagholder.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Multi-Bag Handle
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product3/product3" class="portfolio-box">
                        <img src="/images/bagholder.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Multi-Bag Handle
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product3/product3" class="portfolio-box">
                        <img src="/images/bagholder.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Multi-Bag Handle
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product3/product3" class="portfolio-box">
                        <img src="/images/bagholder.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Multi-Bag Handle
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product3/product3" class="portfolio-box">
                        <img src="/images/bagholder.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Multi-Bag Handle
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product3/product3" class="portfolio-box">
                        <img src="/images/bagholder.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Multi-Bag Handle
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product3/product3" class="portfolio-box">
                        <img src="/images/bagholder.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Multi-Bag Handle
                                </div>
                                <div class="project-category text-faded">
                                    $5.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <a href="../product1/product1" class="portfolio-box">
                        <img src="/images/keychain.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Phone Stand Keychain
                                </div>
                                <div class="project-category text-faded">
                                    $3.00
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a href="../product2/product2" class="portfolio-box">
                        <img src="/images/coaster.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    Coaster
                                </div>
                                <div class="project-category text-faded">
                                    $10.00 for 4
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>


</div>
<p></p> <!-- spacer -->
<p></p> <!-- spacer -->
<center>
                <a href="#contact" class="btn btn-nocirclewhite page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
            </center>
        </div>
    </section>

    

    <!-- Contact Section -->
  

    <section id="contact" class="container content-section text-center">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                
                <p> Follow us on Instagram and Twitter to be notified of deals and promotions.</p>
                
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/averill3design" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                         <a href="https://instagram.com/averill3design/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a> 
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/105953915368160689120/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
        
    </section>
<section id="top" class="container content-section text-center">
  <a href="#page-top" class="btn btn-nocirclewhite page-scroll">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                      </section>
    <!-- Map Section -->
    <!-- <div id="map"></div> -->
<!-- Ad HERE _________________________________________________________________ -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- heroku2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5139861459788620"
     data-ad-slot="3297434195"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> 


    <!-- Footer -->
    <footer>
        <div class="container text-center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Ad 1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2218474529441870"
     data-ad-slot="1527332542"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
           <!-- <p>Copyright &copy; Averill 3Design 2015</p> -->
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/grayscale.js"></script>

</body>

</html>
